#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<included>

	<logger name="org.hibernate.type" level="TRACE">
		<appender-ref ref="stdout" />
	</logger>

	<logger name="org.hibernate.SQL" level="TRACE">
		<appender-ref ref="stdout" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</included>

